.div1 {
    width: 100%;
    min-height: 70vh;
    margin-top: 8rem;
    display: flex;
    padding-inline: 5%;
    background-color: rgba(0, 0, 0, 0.015);
    gap: 5%;
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: 1rem;
    /*box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);*/
    border-radius: 4px;
    scroll-margin-top: 80px;
    box-sizing: border-box;
}

.divLeft{
    max-height: 100%;
    max-width: 30%;
    padding: 0 2rem;
    margin-block: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    /*margin-bottom: auto;*/
    /*align-items: center;*/
}

img {
    margin-top: 10%;
  max-width: 80%;
  max-height: 50%;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain; 
  border-radius: 50%;
  align-items: center;
  margin-inline: auto;
}

.divRight {
    max-width: 65%
}