.div1 {
    width: 90vw;
    min-height: 70vh;
    margin: 100px auto;
    display: flex;
    padding-inline: 5vw;
    background-color: rgba(0, 0, 0, 0.015);
    gap: 5vw;
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: 1rem;
    /*box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);*/
    border-radius: 4px;
    scroll-margin-top: 80px;
}

.divLeft{
    max-height: 100%;
    max-width: 20%;
    margin-inline: 2rem;
    margin-block: 2rem;
    padding-inline: 4rem;
    padding-block: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    /*margin-bottom: auto;*/
    /*align-items: center;*/
}

img {
    margin-top: 10%;
  max-width: 80%;
  max-height: 50%;
  width: auto;
  height: auto;
  display: block;
  object-fit: contain; 
  border-radius: 50%;
  align-items: center;
  margin-inline: auto;
}

.divRight {

}