.div2 {
  width: 100%;
  min-height: 70vh;
  padding-inline: 3rem;
  padding-bottom: 3rem;
  margin: 7rem auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  scroll-margin-top: 80px;
}

.header{
  width: 100%;
  height: 15%;

}

.content-row {
  display: flex;          /* Place left and right side by side */
  height: 85%;            /* Adjust as needed */
  width: 100%;
  gap: 3rem; /* Space between rows */
}

.left {
  padding-inline: 2rem;
  padding-bottom: 2rem;
  height: 95%;
  width: 55%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);

}

.right {
  padding-inline: 2rem;
  height: 95%;
  width: 45%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.pdf-container {
  padding-block: 2rem;
  display: flex;
  justify-content: space-around;
}

.pdf-viewer {
  width: 80%;
  height: 35rem;
}

@media (max-width: 850px) {

  .div2 {
    flex-direction: column;
    align-items: center;
    padding-inline: 0;
  }

  .header {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-row {
    width: 95%;
    flex-direction: column;
    align-items: center;
  }  
  
  .left {
    min-width: 90%;
    padding-inline: auto;
  }

  .right {
    min-width: 90%;
    padding-inline: auto;
  }
  

}
