.div2 {
  width: 90vw;
  height: 70vh;
  background-color: #f8b400;
  margin: 100px auto; /* För att inte hamna bakom navbar */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  scroll-margin-top: 80px;
}