.div3 {
  width: 100%;
  height: 70vh;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  margin: 7rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  scroll-margin-top: 80px;
}