.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-inner {
  width: 90%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  background-color: rgb(43, 107, 44);
  color: white;
  padding-inline: 2rem;
  padding-block: 0.05rem;

}

.button-group {
    width: fit-content;
    gap: 2rem;
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;

}

.social-links {
  display: flex;
  gap: 1.5rem;
  color: white;
}

.social-links a {
  text-decoration: none;
  color: white;
  height:24px;
}

.SL {
  margin-left: 1.5rem;
}

@media (max-width: 850px) {

  .button-group {
    display: none;
  }

}